@use "./variables";

.cart-container {
  margin-top: 50px !important;

  .back-to-home-button {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: variables.$text-color;
    font-weight: bold;
  }

  .cart-title {
    margin: 30px 10px;
    font-size: 45px;
  }

  .cart-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;

    .cart-items {
      .cart-item {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
        align-items: center;
        border-bottom: 1px solid rgb(227, 227, 227);
        padding: 10px 15px;
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
        }
        &-info {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .cart-item-title {
            font-size: 20px;
            font-weight: 400;
          }
          .cart-item-quantity {
            border: 1px solid variables.$text-color;
            width: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        .cart-item-price {
          font-size: 20px;
          font-weight: 500;
        }
        .remove-button {
          background-color: crimson;
          color: variables.$bg-color;
          padding: 8px;
          max-width: 100px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }

    .cart-checkbox {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font-size: 32px;
        white-space: nowrap;
        font-weight: 600;
      }

      .checkout-btn {
        background-color: variables.$main-color;
        color: variables.$bg-color;
        padding: 10px;
        font-size: 17px;
        border-radius: 5px;
        max-width: 150px;
        cursor: pointer;
      }
      .fee-title {
        font-size: 20px;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
}
