@use "./variables";

.products {
  padding: 10px 0;

  h1 {
    text-align: center;
    font-size: 64px;
    margin: 30px 0;
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;

    .product {
      img {
        width: 100%;
        height: 450px;
        object-fit: cover;
      }

      &-info {
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h2 {
          font-weight: 500;
          font-size: 25px;
          color: variables.$text-color;
        }
        p {
          color: variables.$main-color;
          font-size: 20px;
          font-weight: 500;
        }
        button {
          background-color: variables.$main-color;
          color: variables.$bg-color;
          padding: 10px;
          width: 100%;
          cursor: pointer;
          font-size: 15px;
        }
      }
    }
  }
}
