@use "./variables";

@media (max-width: 800px) {
  .hero {
    h1 {
      font-size: 80px !important;
      top: 20px !important;
    }
    &-image {
      img {
        height: 90% !important;
      }
    }
  }
  .footer-c {
    grid-template-columns: 1fr !important;
    row-gap: 40px;
  }
  .cart-wrapper {
    grid-template-columns: 1fr !important;
    padding: 20px;
  }
}
@media (max-width: 600px) {
  #menu-btn {
    display: block !important;
  }

  nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: variables.$header-color;
    padding: 10px 0;
    box-shadow: 0 20 20 rgba(237, 237, 237, 0.45);
    clip-path: circle(0% at 0% 0%);

    transition: all 0.5s ease;

    &.open {
      clip-path: circle(144% at 0% 0%);
    }
  }
}
